@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  
  background: url('back.jpg');
  
  background-repeat: repeat;
 
  background-size: 500px;
  

}

.wrapper{
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  margin-top: -70px;
  box-shadow: 4px 4px 2px rgba(254,236,164,1); 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #fece0c;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.new-footer{
width: 100%;
text-align: center;
z-index: 1;
bottom: 0px;
color: #050505;
font-weight: bold;
margin-top: 20px;

}
.new-footere{
  width: 100%;
  position: absolute;
  text-align: left;
  z-index: 400;
  
  bottom: 600px;
  left: 50px;
  color: #0a0a0a;


}
.new-footere1{

  position: absolute;
  text-align: left;
  line-height: 60px;
  list-style-position: inside;
  z-index: 400;
  align-content: space-between;
  bottom: 550px;
  left: 50px;
  color: #0a0a0a;
}
.new-footere2{
  position: absolute;
  text-align: left;
  line-height: 60px;
  list-style-position: inside;
  z-index: 400;
  align-content: space-between;
  bottom: 500px;
  left: 50px;
  color: #0a0a0a

}
.new-footere3{
  position: absolute;
  text-align: left;
  line-height: 60px;
  list-style-position: inside;
  z-index: 400;
  align-content: space-between;
  bottom: 450px;
  left: 50px;
  color: #0a0a0a

}
.new-footere4{
  position: absolute;
  text-align: left;
  line-height: 60px;
  list-style-position: inside;
  z-index: 400;
  align-content: space-between;
  bottom: 400px;
  left: 50px;
  color: #0a0a0a

}
.new-footere5{
  position: absolute;
  text-align: left;
  line-height: 60px;
  list-style-position: inside;
  z-index: 400;
  align-content: space-between;
  bottom: 640px;
  left: 50px;
  color: #0a0a0a

}

.vert {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media screen and (max-width: 750px) {
  .main-div {
    width: 80% !important;
    margin-left: 10%;
  }
}